.main{
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    align-content: stretch;
}
.main *{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.dayCol {
    border-left: 1px solid #d4d4d4;
    padding: 5px;
    flex: 1;
    text-align: center;
    position: relative;
    border-right: none;
}
.dayCol:nth-child(even){
    background-color: #f5f5f5;
}
.dayCol:last-child{
    border-right: 1px solid #d4d4d4;
}

.yAxis{
    width: 100px;
}

.colWrapper{
    display: flex;
    flex: 1;
}