.main{
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    align-content: stretch;
}
.dayCol {
    border-left: 1px solid #888;
    padding: 5px;
    flex: 1;
    text-align: center;
    position: relative;
    border-right: none;
}


.yAxis{
    width: 100px;
}

.colWrapper{
    display: flex;
    flex: 1;
}