.main{
 text-align: left;
 padding: 5px;
 background-color: #3f69b5;
 position:absolute;   
 color: #fff;
}

.line{
    width: 1px;
    background-color: #3f69b5;
    position: absolute;
}

.lineWrapper{
    height: 100%;
    width: 100%;
    position: absolute;
}

.container{
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all 1s;
    z-index: 1;
}



.icon{
    position: absolute;
    top: 10px;
    left: 90%;    
    cursor: pointer;
    composes: fa fa-pencil fa-1 from 'font-awesome/css/font-awesome.css';
}