.main{
 text-align: left;
 padding: 5px;
 background-color: #3f69b5;
 position:absolute;   
 color: #fff;
}

.line{
    width: 1px;
    background-color: #3f69b5;
    position: absolute;
}

.container{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}