.container{
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    align-content: stretch;
    width: 100%;
}

.col{
    padding: 0px;
    flex: 1;
    text-align: center;
    position: relative;
    border-right: none;
}
.colWrapper{
    display: flex;
    flex: 1;
}